{% extends '::base.html.twig' %}

{% block body %}
    <style>
        .cont{
            overflow: hidden;
        }
        .listaContatos{
            text-decoration: none;
        }
    </style>
    <div style="margin: 10px;" class="cont row">

    </div>

{%  endblock %}
